<h2 mat-dialog-title> Import File into Folder {{ data.parentURN }} </h2>

<mat-dialog-content>
    <p> Import .json files from other projects or .cbcmodel files from Corc </p>
    <input type="file" class="fileInput" accept="json, cbcmodel" (change)="onFileSelected($event)" #fileUpload />
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close> Abort </button>
    <button mat-button mat-dialog-close (click)="confirm()" class="confirm" [disabled]="!accepted"> Confirm </button>
</mat-dialog-actions>
