<p>Import .json files from other projects or .cbcmodel files from Corc</p>
<div class="customFileInput">
    <p-fileupload mode="basic" chooseIcon="pi pi-upload" chooseLabel="Choose File" (onSelect)="onFileSelected($event)">
    </p-fileupload>
  <p>{{ fileType }}</p>
</div>
<div style="width: 100%; display: flex; justify-content: end; gap: 1rem; padding-top: 1em">
    <p-button text (click)="ref.close()">Abort</p-button>
    <p-button (click)="confirm()" class="confirm" [disabled]="!accepted"> Confirm </p-button>
</div>