<div class="refinementBox" cdkDrag cdkDragBoundary="#editorContainer" (cdkDragMoved)="onDragMoved($event)" [cdkDragFreeDragPosition]="dragPosition"
  (cdkDragEnded)="onDragEnded($event)" #refinementBox>

  <div class="refinementBoxTitle" cdkDragHandle #boxTitle>
    <p>{{refinement.getTitle()}} #{{refinement.id}}</p>
    <mat-icon *ngIf="!isRoot()" [style.cursor]="'pointer'" (click)="deleteRefinement()">delete</mat-icon>
  </div>
  
  <div style="display: flex">
    <div appGtBorder="r" #preconditionDiv style="width: 50px; min-height: 140px">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #preconditionDrawer class="example-sidenav" mode="side">
          <div class="conditionParent">
            <app-condition-editor [condition]="refinement.precondition"
                            [editable]="refinement.isPreconditionEditable()"></app-condition-editor>
          </div>
        </mat-drawer>

        <mat-drawer-content class="example-sidenav-content">
          <button type="button" mat-button (click)="toggleConditionEditorView(false)" class="verticalButton bottomLeft">
            Precondition
            <mat-icon>{{preconditionDrawer.opened ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</mat-icon>
          </button>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>

    <div style="display: flex; align-items: center">
      <ng-content></ng-content>
    </div>

    <div appGtBorder="l" #postconditionDiv style="width: 50px">
      <mat-drawer-container class="example-container" autosize>
        <mat-drawer #postconditionDrawer class="example-sidenav" mode="side" position="end">
          <div class="conditionParent">
            <app-condition-editor [condition]="refinement.postcondition"
                              [editable]="refinement.isPostConditionEditable()"></app-condition-editor>
          </div>
          
        </mat-drawer>
        <mat-drawer-content class="example-sidenav-content">
          <button type="button" mat-button (click)="toggleConditionEditorView(true)" class="verticalButton bottomRight">
            Postcondition
            <mat-icon>{{postconditionDrawer.opened ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</mat-icon>
          </button>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </div>
</div>
