$refinementBoxAccentColor: rgb(87, 87, 87);

.refinementBox {
  border: 2px solid slategray;
  border-radius: 5px;
  width: fit-content;
  background-color: $refinementBoxAccentColor;
}

.refinementBoxTitle {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $refinementBoxAccentColor;
  color: white;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: move;
  display: flex;
}
.refinementBoxTitle p {
  margin: 0;
}

.example-container {
  border-left-width: 0;
  background-color: $refinementBoxAccentColor;
  height: 100%;
  overflow: hidden;
}
.example-sidenav {
  border-left-width: 0;
  border-right-width: 0;
  overflow: hidden;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.verticalButton {
  color: #e6e6e6;
  position: absolute;
}
.bottomRight {
  transform: rotate(-90deg);
}
.bottomLeft {
  transform: rotate(90deg);
}

.conditionParent {
  padding: 0.7em;
  overflow: hidden;
  background-color: $refinementBoxAccentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
