<refinement-base [refinement]="this">
  <div style="display: block">
    <div style="display: flex">
      <div style="padding-left: 5px">
        <p style="text-align: center">Iterations</p>
        <mat-form-field appearance="fill" [style.width]="'100px'">
          <mat-label></mat-label>
          <input matInput type="number" [ngModel]="iterations" (ngModelChange)="changedIterations($event)" min="1">
        </mat-form-field>
        <p style="margin: -10px 0 0;">{{iterationsFormalParameter.display()}}</p>
      </div>
      <div style="padding-left: 10px">
        <condition-editor [condition]="parameterizedCondition"></condition-editor>
      </div>
      <div>
        <refinement-widget  *ngIf="!bodyRefinement"
                            text="Body"
                            icon="add"
                            (click)="chooseRefinement()">
        </refinement-widget>
        <refinement-link  *ngIf="bodyRefinement && bodyRefinementRef"
                          [linkedRefinement]="bodyRefinementRef"
                          [onSubRefinementDragMove]="bodyRefinement.onDragMoveEmitter"
                          [onSubRefinementDragEnd]="bodyRefinement.onDragEndEmitter"
                          [onOriginRefinementDragMove]="onDragMoveEmitter"
                          [onOriginRefinementDragEnd]="onDragEndEmitter"
                          [scrollNotifier]="bodyRefinement.getScrollNotifier()"
                          [style.margin-top]="'auto'"></refinement-link>
      </div>
    </div>
  </div>
</refinement-base>

<ng-template #subComponentSpawn></ng-template>
