<refinement-base [refinement]="this">
  <div style="padding-left: 5px">
    <p>Variable</p>
    <form [formGroup]="measuredRegisterGroup">
      <mat-form-field (focusout)="measuredVariableEditingFinished()" appearance="fill"
                      [style.width]="'100px'">
        <mat-label></mat-label>
        <input matInput formControlName="measuredVariables">
      </mat-form-field>
    </form>
  </div>
  <div style="padding-left: 10px">
    <p>Measurement</p>
    <mat-form-field appearance="fill"
                    [style.width]="'100px'">
      <input matInput [(ngModel)]="measurement.name" [disabled]="true">
    </mat-form-field>
  </div>
  <div style="padding-left: 10px">
    <condition-editor [condition]="loopInvariant"></condition-editor>
  </div>


  <refinement-widget  *ngIf="!bodyRefinement"
                      text="Body"
                      icon="add"
                      (click)="chooseRefinement()">
  </refinement-widget>
  <refinement-link  *ngIf="bodyRefinement && bodyRefinementRef"
                    [linkedRefinement]="bodyRefinementRef"
                    [onSubRefinementDragMove]="bodyRefinement.onDragMoveEmitter"
                    [onSubRefinementDragEnd]="bodyRefinement.onDragEndEmitter"
                    [onOriginRefinementDragMove]="onDragMoveEmitter"
                    [onOriginRefinementDragEnd]="onDragEndEmitter"
                    [scrollNotifier]="bodyRefinement.getScrollNotifier()"
                    [style.margin-top]="'auto'"></refinement-link>
</refinement-base>

<div style="height: 30px; width: 100%"></div>
<ng-template #subComponentSpawn></ng-template>
