<refinement-base [refinement]="this">
    <condition-editor [condition]="invariantCondition"></condition-editor>
    <condition-editor [condition]="guardCondition" [style.margin-left]="'0.5rem'"></condition-editor>
    <condition-editor [condition]="variantCondition" [style.margin-left]="'0.5rem'" ></condition-editor>

    <refinement-widget *ngIf="!loopStatement"
                       text="Loop Statement"
                       icon="add"
                       (click)="chooseRefinement()"
    >
    </refinement-widget>
    <refinement-link *ngIf="loopStatementRef && loopStatement" 
                     [linkedRefinement]="loopStatementRef"
                     [onSubRefinementDragMove]="loopStatement.onDragMoveEmitter"
                     [onSubRefinementDragEnd]="loopStatement.onDragEndEmitter"
                     [onOriginRefinementDragMove]="onDragMoveEmitter"
                     [onOriginRefinementDragEnd]="onDragEndEmitter"
                     [scrollNotifier]="loopStatement.getScrollNotifier()"
                     [style.margin-top]="'auto'">
    </refinement-link>
</refinement-base>

<div style="height: 30px; width: 100%"></div>
<ng-template #subComponentSpawn></ng-template>