<p-toolbar style="border: none; border-radius: 0">
  <ng-template #start>
    <p-button icon="pi pi-bars" text (click)="drawer.toggle()"> </p-button>
    <span style="padding-left: 1rem; font-weight: bold"> WebCorC </span>
  </ng-template>
  <ng-template #center>
    <p-iconfield iconPosition="left">
      <p-inputicon class="pi pi-search" />
      <input
        pInputText
        [(ngModel)]="projectService.projectname"
        placeholder="Projectname"
      />
    </p-iconfield>
  </ng-template>
  <ng-template #end>
    <div style="display: flex; gap: 1rem">
      <p-button (click)="share()">
        <i class="pi pi-share-alt"></i>
        Share
      </p-button>
      <p-button (click)="generateCode()" [disabled]="!treeService.rootFormula">
        <i class="pi pi-code"></i>
        Generate code
      </p-button>
      <p-button (click)="verify()" [disabled]="!treeService.rootFormula">
        <i class="pi pi-check-circle"></i>
        Verify
      </p-button>
    </div>
  </ng-template>
</p-toolbar>
<mat-drawer-container class="editorWindow">
  <mat-drawer
    #drawer
    mode="over"
    [style.max-width]="'50%'"
    [style.min-width]="'20%'"
    [style.overflow]="'hidden'"
  >
    <app-project-explorer></app-project-explorer>
  </mat-drawer>
  <mat-drawer-content class="editor">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
