<p-toolbar style="border: none; border-radius: 0">
  <ng-template #start>
    <p-button
      icon="pi pi-bars"
      text
      severity="contrast"
      (click)="drawer.toggle()"
    >
    </p-button>
    <p-button
      text
      severity="contrast"
      class="pl-4 font-bold"
      (click)="router.navigateByUrl('/')"
    >
      WebCorC
    </p-button>
  </ng-template>
  <ng-template #center>
    <p-iconfield iconPosition="left">
      <p-inputicon class="pi pi-search" />
      <input
        pInputText
        [(ngModel)]="projectService.projectName"
        placeholder="Projectname"
      />
    </p-iconfield>
  </ng-template>
  <ng-template #end>
    <div class="flex gap-4">
      <app-settings-button />
      <p-button
        [disabled]="projectService.shouldCreateProject"
        (click)="share()"
      >
        <i class="pi pi-share-alt"></i>
        Share
      </p-button>
      <p-button (click)="generateCode()" [disabled]="!treeService.rootFormula">
        <i class="pi pi-code"></i>
        Generate code
      </p-button>
      <p-button
        (click)="verify()"
        [disabled]="!treeService.rootFormula"
        [loading]="globalSettingsService.isVerifying"
      >
        <i class="pi pi-check-circle"></i>
        Verify
      </p-button>
    </div>
  </ng-template>
</p-toolbar>
<mat-drawer-container class="editorWindow">
  <mat-drawer
    #drawer
    mode="over"
    class="max-w-1/2 min-w-1/5 overflow-hidden"
  >
    <app-project-explorer></app-project-explorer>
  </mat-drawer>
  <mat-drawer-content class="editor">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<p-confirm-dialog />
<p-toast></p-toast>
