services:
  rustfs:
    image: rustfs/rustfs:latest
    env_file:
      - docker-compose.env
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      RUSTFS_VOLUMES: "/data/rustfs"
      RUSTFS_ADDRESS: "0.0.0.0:9000"
      RUSTFS_CONSOLE_ADDRESS: "0.0.0.0:9001"
      RUSTFS_CONSOLE_ENABLE: "true"
      RUSTFS_EXTERNAL_ADDRESS: ":9000"
      RUSTFS_CORS_ALLOWED_ORIGINS: "*"   # fixed typo here
      RUSTFS_CONSOLE_CORS_ALLOWED_ORIGINS: "*"
      RUSTFS_ACCESS_KEY: "root"
      RUSTFS_SECRET_KEY: "changeme"

  mongo:
    image: mongo
    ports:
      - "27017:27017"

  webcorc-backend:
    build:
      context: backend
      dockerfile: dev.Dockerfile
    env_file:
      - docker-compose.env
    environment:
      DEVELOPMENT: true
      AWS_ACCESS_KEY_ID: root        # added for Micronaut
      AWS_SECRET_ACCESS_KEY: changeme  # added for Micronaut
      AWS_REGION: us-east-1          # added for Micronaut
      MICRONAUT_ENVIRONMENTS: dev
      MICRONAUT_APPLICATION_ALLOW_DEFAULT_CREDENTIALS: "true"   # <--- added here
    ports:
      - "8081:8080"
    develop:
      watch:
        - action: sync
          path: "./backend/"
          target: "/app/"
          ignore: "./backend/target/"
        - action: rebuild
          path: "./backend/pom.xml"
    depends_on:
      rustfs:
        condition: service_started
      mongo:
        condition: service_started

  webcorc-frontend:
    build:
      context: frontend
      dockerfile: dev.Dockerfile
    develop:
      watch:
        - action: sync
          path: "./frontend/"
          target: "/app/"
          ignore:
            - "./frontend/node_modules"
        - action: rebuild
          path: "./frontend/package.json"
    ports:
      - "4200:4200"
