services:
   rustfs:
    image: rustfs/rustfs:latest
    env_file:
      - docker-compose.env
    ports:
      - "9000:9000"
      - "9001:9001"

  mongo:
    image: mongo
    volumes:
      - ./data/mongo/:/data/db
    restart: always

  webcorc-backend:
    build:
      context: backend
    env_file:
      - docker-compose.env
    depends_on:
      rustfs:
        condition: service_started
      mongo:
        condition: service_started
    restart: always

  webcorc-frontend:
    build:
      context: frontend
    restart: always

  webserver:
    image: caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./data/caddy/caddyfile:/etc/caddy
      - ./data/caddy/data:/data
      - ./data/caddy/logs:/logs/
    restart: always
