.page {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    width: 191px;
    margin-top: 0.5rem;
}

.centerItems {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomLink {
    margin-top: 1.5rem;
}