<div class="w-fit" (mousedown)="$event.stopImmediatePropagation()">
  <div (focusout)="conditionEditingFinished.emit()">
    <form>
      <p-icon-field>
        <p-float-label variant="on">
          <textarea
            [ngModelOptions]="{ standalone: true }"
            id="field"
            pTextarea
            class="textarea"
            spellcheck="false"
            [rows]="inline ? 1 : 5"
            [ngModel]="(condition | async)?.condition"
            (ngModelChange)="onConditionChange($event)"
            variant="filled"
            [disabled]="!editable"
            [dt]="{
              root: {
                borderColor: redConditions.includes((condition | async)!)
                  ? '#ff7e7e'
                  : greenConditions.includes((condition | async)!)
                    ? '#6ab77a'
                    : $dt('textarea.border.color').value,
              },
            }"
          >
          </textarea>
          <label for="field">{{ placeholder }}</label>
        </p-float-label>
        <p-inputicon
          (click)="askAi()"
          class="cursor-pointer pi pi-microchip-ai"
        ></p-inputicon>
      </p-icon-field>
    </form>
  </div>
</div>
