:host {
  display: block;
  width: 100%;
}

.condition-editor-root {
  width: 100%;
  text-align: center;
}

.condition-icon-field {
  display: block;
  width: 100%;
}

.condition-textarea {
  width: 100%;
  max-width: 100%;
  resize: none;
  box-sizing: border-box;
  padding-right: 2rem;
}

.condition-button-stack {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2%;
    margin: 2px;
    justify-content: center;
    height: 100%;
}

.condition-dialog {

}

.condition-textarea-dialog {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 0;
}

.condition-dialog-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
}