<div class="aiChatWindow">
    <div class="aiChatHistory">
        @for (message of messages; track message.id) {
            <div class="message">
                <mat-card appearance="outlined" [class]="getClasses(message)">
                    <mat-card-content>
                        {{message.content}}
                    </mat-card-content>
                 </mat-card>
            </div>
            
        } @empty {
            <div class="emptyMessage">
               <p>No Messages</p>
            </div>
        }
    </div>
    <div class="aiQuestion">
        <mat-form-field appearance="fill" [style.width]="'100%'" [formGroup]="questionGroup" (keydown.enter)="onEnter($event)" >
            <textarea formControlName="question" matNativeControl cdkTextareaAutosize="'false'" placeholder="Ask me in the context" [style.width]="'100%'"></textarea>
            <button matSuffix mat-icon-button (click)="deleteHistory()" matTooltip="Delete message history">
                <mat-icon [style.color]="'rgb(162,34,35)'">delete</mat-icon>
            </button>
            <button matSuffix mat-icon-button (click)="addMessage()" matTooltip="Send message">
                <mat-icon>send</mat-icon>
            </button>
            
        </mat-form-field>
        
    </div>

</div>

