<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let macro of treeService.macros">{{macro.name}} = {{macro.expression}}</mat-list-item>
</mat-list>
<p *ngIf="treeService.macros.length === 0">No macros yet</p>

<mat-divider></mat-divider>
<br>

<form [formGroup]="addMacroGroup">
  <mat-form-field [style.width]="'100px'">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field [style.width]="'150px'">
    <mat-label>Expression</mat-label>
    <input matInput formControlName="expression">
  </mat-form-field>

  <button mat-raised-button (click)="addMacro()"
          [disabled]="!addMacroGroup.valid ||
                      treeService.hasMacroWithName(addMacroGroup.controls.name.value)">
    Add
  </button>
</form>
