<div class="w-[80rem] max-w-[96vw]">
  <p-fieldset legend="Appearance">
    <ul>
      <li class="flex items-center gap-8">
        <span> Dark Mode </span>
        <span>
          <p-toggle-switch
            size="large"
            [ngModel]="isDarkModeEnabled()"
            (onChange)="switchTheme()"
          >
            <ng-template #handle let-checked="checked">
              <i
                class="text-xs"
                [class]="['pi', checked ? 'pi-moon' : 'pi-sun']"
              ></i>
            </ng-template>
          </p-toggle-switch>
        </span>
      </li>
      <li class="flex items-center gap-8">
        <span> Conditions always open </span>
        <span>
          <p-toggle-switch
            size="large"
            [(ngModel)]="globalSettingsService.conditionsAlwaysOpen"
          >
          </p-toggle-switch>
        </span>
      </li>
      <li class="flex items-center gap-8">
        <span> Minimap in editor </span>
        <span>
          <p-toggle-switch
            size="large"
            [(ngModel)]="globalSettingsService.showMiniMap"
          >
          </p-toggle-switch>
        </span>
      </li>
    </ul>
  </p-fieldset>

  <p-fieldset legend="Syncronization">
    <ul>
      <li class="flex items-center gap-8">
        <span>Autosave</span>
        <span>
          <p-toggle-switch
            size="large"
            [(ngModel)]="globalSettingsService.autosave"
          >
          </p-toggle-switch>
        </span>
      </li></ul
  ></p-fieldset>
  <p-fieldset legend="Debugging">
    <ul>
      <li>
        <p-button (click)="resetProjectId()" severity="danger"
          >Reset project id</p-button
        >
      </li>
      <li>
        Project id: {{ projectService.projectId }} -- Project name:
        {{ projectService.projectName }} -- Should Create Project:
        {{ projectService.shouldCreateProject }}
      </li>
      <li>
        <p-button (click)="dumpProjectService()" severity="secondary">
          Dump Project Service
        </p-button>
      </li>
      <li>
        <p-button (click)="dumpTreeService()" severity="secondary">
          Dump Tree Service
        </p-button>
      </li>
    </ul>
  </p-fieldset>
</div>
<div
  class="w-full flex justify-end gap-4 pt-4"
>
  <p-button (click)="ref.close()">Done</p-button>
</div>
<p-dialog
  header="json dump"
  [modal]="true"
  [(visible)]="dialogVisible"
  class="w-[50rem]"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <pre [innerHTML]="dialogContent"></pre>
</p-dialog>
