<div style="width: 80rem; max-width: 96vw">
  <p-fieldset legend="Appearance">
    <ul>
      <li style="display: flex; align-content: center; gap: 2rem">
        <span> Dark Mode </span>
        <span>
          <p-toggle-switch size="large" (onChange)="switchTheme()">
            <ng-template #handle let-checked="checked">
              <i
                style="font-size: 0.5rem"
                [class]="['pi', checked ? 'pi-moon' : 'pi-sun']"
              ></i>
            </ng-template>
          </p-toggle-switch>
        </span>
      </li>
      <li style="display: flex; align-content: center; gap: 2rem">
        <span> Conditions always open </span>
        <span>
          <p-toggle-switch size="large" [(ngModel)]="globalSettingsService.conditionsAlwaysOpen">
          </p-toggle-switch>
        </span>
      </li>
    </ul>
  </p-fieldset>
</div>
<div
  style="
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding-top: 1em;
  "
>
  <p-button (click)="ref.close()">Done</p-button>
</div>
