<form [formGroup]="variables" class="flex flex-col gap-2">
  @for (variableForm of items.controls; track variableForm; let i = $index) {
    <ng-container formArrayName="items">
      <ng-container [formGroupName]="i">
        <p-icon-field>
          <p-float-label variant="on">
            <input
              [id]="'variable_' + i"
              fluid
              formControlName="name"
              pInputText
              spellcheck="false"
              variant="filled"
            />
            <label [for]="'variable_' + i">Variable</label>
          </p-float-label>
          <p-inputicon
            (keydown.enter)="$event.preventDefault()"
            (click)="removeVariable(i)"
            class="cursor-pointer pi pi-minus"
          ></p-inputicon>
        </p-icon-field>
      </ng-container>
    </ng-container>
  }
  <p-icon-field>
    <p-float-label variant="on">
      <input
        [id]="'New_Variable'"
        (keydown.enter)="onEnter($event)"
        fluid
        formControlName="newVariable"
        pInputText
        spellcheck="false"
        variant="filled"
      />
      <label [for]="'New_Variable'">Add Variable</label>
    </p-float-label>
    <p-inputicon
      (keydown.enter)="$event.preventDefault()"
      (click)="addVariable()"
      class="cursor-pointer pi pi-plus"
    ></p-inputicon>
  </p-icon-field>
  @if (dirtyState) {
    <mat-hint class="text-red-700">
      Press enter or click the plus to add the variable
    </mat-hint>
  }
</form>
