<p-tabs [(value)]="tabValue" [dt]="{ tab: { padding: '0.3rem' } }">
  <p-tablist>
    <div style="margin-left: auto"></div>
    <p-tab
      [value]="1"
      style="
        display: flex;
        justify-items: center;
        gap: 1rem;
        align-items: center;
      "
      ><i class="pi pi-code"></i>Console</p-tab
    >
    <p-tab
      [value]="2"
      style="
        display: flex;
        justify-items: center;
        gap: 1rem;
        align-items: center;
      "
      ><i class="pi pi-microchip-ai"></i>Ai Chat</p-tab
    >
    <p-tab
      [value]="3"
      style="
        display: flex;
        justify-items: center;
        gap: 1rem;
        align-items: center;
      "
      ><i class="pi pi-globe"></i>Global</p-tab
    >
    <p-tab
      [value]="4"
      style="
        display: flex;
        justify-items: center;
        gap: 1rem;
        align-items: center;
      "
    >
      <i class="pi pi-tags"></i>
      Predicates
    </p-tab>
    <p-button
      icon="pi pi-minus"
      text
      severity="secondary"
      size="small"
      (click)="setTab(0)"
    ></p-button>
  </p-tablist>
  @if (tabValue() > 0) {
    <p-tabpanels>
      <p-tabpanel [value]="1" style="max-height: 20rem">
        <div style="max-height: 20rem; overflow-y: scroll">
          <app-console style="max-height: 20rem" />
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="2">
        <app-ai-chat></app-ai-chat>
      </p-tabpanel>
      <p-tabpanel [value]="4">
        <app-predicate-manager />
      </p-tabpanel>
    </p-tabpanels>
  }
</p-tabs>
