<p>
  Your workspace is not assoziated with a project on the server. <br />
  Create a new project with name:
</p>
<div class="w-full">
  <p-float-label variant="on">
    <input #projectName pInputText fluid [(ngModel)]="projectname" />
    <label for="projectName">Project Name</label>
  </p-float-label>
</div>
<div
  class="w-full flex justify-end gap-4 pt-4"
>
  <p-button text (click)="ref.close(false)">Abort</p-button>
  <p-button (click)="confirm()" [loading]="loading" class="confirm">
    Confirm
  </p-button>
</div>
