<p>
  Your workspace is not assoziated with a project on the server. <br />
  Create a new project with name:
</p>
<div style="width: 100%">
  <p-float-label variant="on">
    <input #projectName pInputText fluid [(ngModel)]="projectname" />
    <label for="projectName">Project Name</label>
  </p-float-label>
</div>
<div style="width: 100%; display: flex; justify-content: end; gap: 1rem; padding-top: 1em">
    <p-button text (click)="ref.close(false)">Abort</p-button>
    <p-button (click)="confirm()" class="confirm"> Confirm </p-button>
</div>
