.corc-code-editor{
    background-color: #fbfbfb;
    /*position: absolute;*/
    height: calc(100% - 1px);
    /*width: 100%;*/
    /*z-index: -1000;*/
}

.corc-code-area{
    width: 100%;
    border: 2px solid #e5e5e5;
    /*border: 5px;*/
    height: calc(65% - 2px);
    max-height: calc(65% - 2px);
    /*position: absolute;*/
    /*display: inline-block;*/
}

.corc-console-area{
    /*top: 800px;*/
    width: 100%;
    /*position: absolute;*/
    height: calc(35% - 1px);
    max-height: calc(35% - 1px);
}

.corc-console{
    width: 100%;
    resize: none;
    border: 2px solid #e5e5e5;
    height: 100%;
    font-family: monospace;
}

.corc-toolbar-button-container{
    background-color: grey;
    margin: 1px;
    border-radius: 3px;
    padding: 1px;
    z-index: 300;
    position: relative;
}

.corc-file-button{
    margin: 5px;
    color: #e9e9e9;
}

.corc-tooltip{
    position: relative;
    /*display: inline-block;*/
}

.corc-tooltip,
.corc-tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    top: 125%;
    left: 250%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.corc-tooltip,
.corc-tooltip-text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    /*border-color: #555 transparent transparent transparent;*/
}

.corc-tooltip:hover,
.corc-tooltip-text {
    visibility: visible;
    opacity: 1;
}
