.background {
    min-height: 100%;
    width: 100%;
    display: flex;
    padding: 2em;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;

    .corcCard {
        flex-grow: 1;
        height: fit-content;
    }
    .logo {
        width: 50%;
        flex: 1 1 auto;
    }

    .actions {
        flex-grow: 1;
        display: grid;
        place-items: center;


        .buttons {
            min-width: 15rem;
            display: flex;
            flex-direction: column;
            background-color: #ededed;
        }
    }

    .info {
        width: 50%;
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
        place-items: center;
        align-items: start;

        .footer {
            width: 100%;
            left: 0;
        }

        .institutes {
            border-radius: 5px;
            border: #dcdcdc 2px solid;
            background-color: #ededed;
            display: flex;
            flex-direction: column;
            margin-top: auto; 

            .tva {
               margin: 5px;
               height: 80px; 
            }

            .isf {
                margin: 5px;
                height: 85px;
            }
        }
    }
}