<div class="background">
    <div class="actions" >
        <div style="height: 150px;">

        </div>
        <div class="buttons" >
            <button mat-button (click)="importFileDialog()"> <mat-icon> publish </mat-icon> Import File </button>
            <button mat-button (click)="importProjectDialog()" > <mat-icon> publish </mat-icon> Import Project </button>
            <button mat-button (click)="openProjectDialog()" > <mat-icon> open_in_new </mat-icon> Open Project </button>
        </div>
        <div>

        </div>
    </div>
    <div class="info" >
        <img class="logo" src="assets/corc-logo-color.svg" alt="Corc logo" >
        <p>
            Correctness-by-Construction (CbC) is an approach to
            incrementally create correct programs. CbC starts with an
            abstract Hoare triple &#x007B;P&#x007D; S &#x007B;Q&#x007D; consisting of a precondition P,
            an abstract statement S, and a postcondition Q. Hoare triples
            represent total correctness assertions that valuate only to true
            if, beginning from the precondition, the postcondition is met
            after executing the eventually defined concrete program. With
            CbC, the Hoare triple is successively refined using a set of
            refinement rules to a concrete implementation, which satisfies
            the specification. The correctness is guaranteed because every
            refinement rule is proven sound and preserves the correctness of
            the program. CbC is implemented in the tool WebCorC. WebCorC is a
            graphical IDE to construct algorithms following the
            Correctness-by-Construction approach. It supports CbC developers
            to refine a program by a sequence of refinement steps and to
            verify the correctness of these refinement steps using the theorem
            prover KeY.

        </p>    

        <p class="footer">
            <b>Github </b>:<a href="https://github.com/KIT-TVA/CorC">Corc</a> <br>
            <b>Github </b>:<a href="https://github.com/KIT-TVA/WebCorC">WebCorc</a> <br>
            <br>
            <b>Employees involved: </b> 
                <a href="https://tva.kastel.kit.edu/team_bordis.php" target="_blank" rel="noopener noreferrer">Tabea Bordis</a>,
                <a href="https://tva.kastel.kit.edu/team_kodetzki.php" target="_blank" rel="noopener noreferrer">Maximilian Kodetzki</a>,
                <a href="https://tva.kastel.kit.edu/team_ronneberg.php" target="_blank" rel="noopener noreferrer">Rasmus Ronneberg</a>,
                <a href="https://tva.kastel.kit.edu/team_schaefer.php" target="_blank" rel="noopener noreferrer">Ina Schaefer</a>

            <br>
            <br>
            <a href="https://www.kit.edu/datenschutz.php" >Privacy Information</a>
        </p>

        <div class="institutes">
            <img class="tva" src="assets/tva-logo-banner-english-color.svg" alt="TVA logo" >
        </div>
    </div>

</div>
