<refinement-base [refinement]="this">
    <condition-editor *ngIf="!isRoot()" 
                      [condition]="condition"
                      [editable]="true">
    </condition-editor>
   <div *ngIf="isRoot()" class="rootEnabledDiv">
        <refinement-widget  *ngIf="!statement"
                            text="Statement"
                            icon="add"
                            (click)="chooseRefinement()">
        </refinement-widget>
        <p *ngIf="statement" [style.width]="'100px'" [style.textAlign]="'center'"> Statement </p>
        <refinement-link *ngIf="statementElementRef && statement"
                          [linkedRefinement]="statementElementRef"
                          [onSubRefinementDragMove]="statement.onDragMoveEmitter"
                          [onSubRefinementDragEnd]="statement.onDragEndEmitter"
                          [onOriginRefinementDragMove]="onDragMoveEmitter"
                          [onOriginRefinementDragEnd]="onDragEndEmitter"
                          [scrollNotifier]="statement.getScrollNotifier()"
                          [style.margin-top]="'auto'"></refinement-link>
    </div>
</refinement-base>
<div style="height: 30px; width: 100%;"></div>
<ng-template #subComponentSpawn></ng-template>