.statements {
    overflow: visible;

    .add-row {
        height: 3em;
        color: #e0e0e0;
    }

    .statement-container {
        display: flex;
    height: 5em;
    width: 100%;
    gap: 10px;

        .guard {
            display: flex;
            height: 100%;
            min-width: 0;
            overflow: hidden;
            column-wrap: nowrap;
        }

        .statement {
            align-content: center;
            display: grid;
            place-items: center;
            flex: 0;
            overflow: hidden;
        }
    }
}
