<app-statement-base
  [_node]="_node"
  [refinement]="this"
  [hideSourceHandle]="true"
  >
  <div class="statements">
    <div class="first-row">
      <div>
        <button type="button" mat-icon-button (click)="addSelection()">
          <mat-icon>add</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="removeSelection()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>

    @for (guard of _node.guards; track guard; let i = $index) {
      <div
        class="statement-container"
        >
        <div class="guard">
          <app-condition-editor
            [(condition)]="_node.guards[i]"
            [inline]="true"
          ></app-condition-editor>
        </div>
        <div class="statement">
          @if (!_node.children[i]) {
            <app-refinement-widget
              text="Statement"
              icon="add"
              (select)="chooseRefinement(i, $event)"
              >
            </app-refinement-widget>
          }
        </div>
      </div>
    }
  </div>
  <div style="display: flex; flex-direction: column; width: 0">
    <div style="height: 3em; width: 0"></div>
    @for (guard of _node.guards; track guard; let i = $index) {
      <div style="height: 5em; width: 0">
        <handle position="right" type="source" [id]="i + ''" />
      </div>
    }
  </div>
</app-statement-base>
