
.consoleContainer {
    display: flex;
    flex-direction: column;
    height: inherit;

    .actions {
        display: flex;
        flex-direction: row;
        width: 100%;

        h3 {
            font-weight: bold;
            align-self: center;
            margin-left: 10px;
        }

        .spinner {
            align-self: center;
            margin-left: auto;
            margin-right: 0;
        }

        .button {
            align-self: center;
            color: #a22223;
        }
    }

    .form {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
        resize: none;
        flex-grow: 1;
    }
}

