<div class="consoleContainer">
  <div class="actions">
    <h3>Console</h3>
    @if (service.loading()) {
      <p-progressSpinner
        [dt]="{
          root: {
            colorOne: '{primary.900}',
            colorTwo: '{primary.900}',
            colorThree: '{primary.900}',
            colorFour: '{primary.900}',
          },
        }"
        class="spinner w-4 h-4"
      >
      </p-progressSpinner>
      <span
        class="self-center px-2"
      >
        {{ service.loadingMessage() }}
      </span>
    } @else {
      <span class="spinner"></span>
    }
    <p-button
      class="button"
      plain
      severity="secondary"
      icon="pi pi-trash"
      (click)="clear()"
    >
    </p-button>
  </div>
  <div #logList>
    @for (line of loglines; track i; let i = $index) {
      @if (isError(line)) {
        <mat-list-item>
          <span matListItemTitle> {{ line.action }} </span>
          <span matListItemLine> {{ deconstructLogError(line) }} </span>
        </mat-list-item>
      } @else if (isInfo(line)) {
        <div class="p-1">
          <span matListItemTitle class="whitespace-normal">
            <i [class]="line.icon ?? 'pi pi-angle-double-right'"></i>
            {{ line.message }}
          </span>
        </div>
      }
    }
  </div>
</div>
