@use "@angular/material" as mat;

.actions {
  display: flex;
  place-content: center;
}

.drawer-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  background-color: var(--p-background);
  color: var(--p-menubar-color);
}

:host ::ng-deep .p-tree-node-label {
  width: 100%;
}

.project-actions {
  display: flex;
  place-content: center;

  button {
    color: var(--p-button-secondary);
  }

  :nth-last-child(2) {
    margin-left: auto;
  }
}

.node-actions {
  position: relative;
  right: 0;
  top: 0;
  margin-left: auto;
}

:host ::ng-deep mat-label {
  color: var(--p-menubar-color) !important;
}

.project-header {
  display: flex;
  padding-left: 15px;
}

#import {
  margin-left: auto;
}

.bottom {
  margin-top: auto;
  display: flex;
  place-content: center;
}

.mat-tree-node {
  user-select: none;
  cursor: move;
  &.cdk-drag-preview {
    // while dragging
    @include mat.elevation(12);
    border-top: 1px solid green;
  }
  &.cdk-drag-placeholder {
    // potential drop area
    opacity: 0;
  }
}
/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
