<div class="drawer-content">
  <p-menubar
    class="rounded-none border-0 z-10 project-actions"
    [model]="menuItems"
  >
  </p-menubar>
  <p-tree
    [value]="treeNodes"
    [draggableNodes]="false"
    [droppableNodes]="false"
    draggableScope="self"
    droppableScope="self"
    (onNodeExpand)="setExpanded($event)"
    (onNodeCollapse)="setCollapsed($event)"
    (onNodeDrop)="dropNode($event)"
    emptyMessage="No files yet."
  >
    <ng-template #header>
      <div class="project-header">
        <h4>
          {{
            projectService.projectName
              ? projectService.projectName
              : "Projectname"
          }}
        </h4>
      </div>
    </ng-template>
    <ng-template #emptymessage>
      <span> No files yet </span>
    </ng-template>
    <ng-template
      let-node
      pTemplate="directory"
      class="w-full box-content"
    >
      <div
        class="w-full flex items-center justify-between"
      >
        <span>
          {{ node.label }}
        </span>

        <span class="self-end">
          <p-button
            icon="pi pi-upload"
            severity="contrast"
            text
            (click)="importElement(node.data)"
          >
          </p-button>
<!-- TODO: Put back in when supported
          <p-button
            icon="pi pi-file-edit"
            severity="contrast"
            text
            (click)="toggleRename(node.data)"
          >
          </p-button>-->
          <p-button
            icon="pi pi-plus"
            text
            severity="success"
            (click)="addElementToDirectory(node.data)"
          >
          </p-button>
<!-- TODO: Put back in when supported
          <p-button
            icon="pi pi-trash"
            text
            severity="danger"
            (click)="deleteElement(node.data)"
          >
          </p-button>
-->
        </span>
      </div>
    </ng-template>
    <ng-template
      let-node
      pTemplate="fake"
      class="w-full box-content"
    >
      <div
        class="w-full flex items-center justify-between"
      >
        <span>
          <p-float-label variant="on">
            <p-icon-field>
              <input pInputText #newElement class="w-full" />
              <label for="newElement">New Element</label>
              <p-inputicon
                class="pi pi-times text-danger"
                (click)="deleteElement(node.data)"
              >
              </p-inputicon>
            </p-icon-field>
          </p-float-label>
        </span>
        <span class="self-end">
          <p-button
            icon="pi pi-sitemap"
            text
            severity="contrast"
            (click)="addFile(node.data, newElement.value, 'diagram')"
          >
          </p-button>
          <p-button
            text
            severity="contrast"
            icon="pi pi-code"
            (click)="addFile(node.data, newElement.value, 'java')"
          >
          </p-button>
          <p-button
            text
            severity="contrast"
            icon="pi pi-code"
            (click)="addFile(node.data, newElement.value, 'key')"
          >
          </p-button>
          <p-button
            icon="pi pi-folder"
            (click)="addFolder(node.data, newElement.value)"
            severity="contrast"
            text
          >
          </p-button>
        </span>
      </div>
    </ng-template>
    <ng-template
      let-node
      pTemplate="rename"
      class="w-full box-content"
    >
      <div
        class="w-full flex items-center justify-between"
      >
        <span>
          <p-float-label variant="on">
            <p-icon-field>
              <input pInputText #renameInput class="w-full" />
              <label for="renameInput">Rename Element</label>
              <p-inputicon
                class="pi pi-check text-success"
                (click)="renameElement(node.data, renameInput.value)"
              >
              </p-inputicon>
            </p-icon-field>
          </p-float-label>
        </span>
      </div>
    </ng-template>
    <ng-template
      let-node
      pTemplate="file"
      class="w-full box-content"
    >
      <div
        class="w-full flex items-center justify-between"
      >
        <p-button
          class="w-full"
          (click)="navigate(node.data)"
          text
          severity="contrast"
          [label]="node.label"
        >
        </p-button>
          @if ((node.data.urn) === "include/generatedPredicates.key") {
              <p-tag severity="secondary" icon="pi pi-info-circle" value="read only" class="whitespace-nowrap"/>
          }
        <span class="self-end">
          <!-- TODO: Put back in when supported
          <p-button
            icon="pi pi-file-edit"
            text
            severity="contrast"
            (click)="toggleRename(node.data)"
          >
          </p-button>
          <p-button
            icon="pi pi-trash"
            text
            severity="danger"
            (click)="deleteElement(node.data)"
          >
          </p-button>
-->
        </span>
      </div>
    </ng-template>
  </p-tree>
</div>
