<div class="sideMenuContainer">
    <p-tabs
            [(value)]="tabValue"
            style="width: fit-content"
            [style.height]="'100%'"
    >
        <div style="display: flex; width: fit-content; height: 100%">
            <div style="align-self: stretch">
                <p-tabpanels style="display: contents">
                    <p-tabpanel [value]="1">
                        <p-accordion [multiple]="true">
                            <p-accordion-panel value="0">
                                <p-accordion-header>Actions</p-accordion-header>
                                <p-accordion-content>
                                    <app-options></app-options>
                                </p-accordion-content>
                            </p-accordion-panel>
                            <p-accordion-panel value="1">
                                <p-accordion-header>Renaming</p-accordion-header>
                                <p-accordion-content>
                                    <app-renaming #renaming></app-renaming>
                                </p-accordion-content>
                            </p-accordion-panel>
                            <p-accordion-panel value="2">
                                <p-accordion-header>Global Conditions</p-accordion-header>
                                <p-accordion-content>
                                    <app-global-conditions #conditions></app-global-conditions>
                                </p-accordion-content>
                            </p-accordion-panel>
                            <p-accordion-panel value="3">
                                <p-accordion-header>Java Variables</p-accordion-header>
                                <p-accordion-content>
                                    <app-variables #variables></app-variables>
                                </p-accordion-content>
                            </p-accordion-panel>
                        </p-accordion>
                    </p-tabpanel>
                    <p-tabpanel [value]="2">
                        <app-ai-chat/>
                    </p-tabpanel>
                    <p-tabpanel [value]="3" style="display: contents">
                        <app-console style="display: inline-block; width: 20rem"/>
                    </p-tabpanel>
                    <p-tabpanel [value]="4" style="display: contents">
                        <app-predicate-manager style="display: inline-block; width: 20rem"/>
                    </p-tabpanel>
                    <p-tabpanel [value]="5" style="display: contents">
                        <app-operations></app-operations>
                    </p-tabpanel>
                </p-tabpanels>
            </div>
            <div
                    style="
          justify-self: end;
          width: 2rem;
          height: 100%;
          display: flex;
          flex-direction: column;
          background-color: var(--p-tabs-tablist-background);
        "
            >
                <div style="height: 1rem"><!--- spacer ---></div>
                <p-button
                        [dt]="compactButton"
                        [style.writing-mode]="'sideways-lr'"
                        [style.text-orientation]="'mixed'"
                        size="small"
                        [severity]="tabValue() == 1 ? 'primary' : 'secondary'"
                        text
                        [style.border-radius]="0"
                        (click)="setTab(1)"
                >
                    <i class="pi pi-globe"></i>
                    Global
                </p-button>
                <p-button
                        [dt]="compactButton"
                        [style.writing-mode]="'sideways-lr'"
                        [style.text-orientation]="'mixed'"
                        size="small"
                        text
                        [severity]="tabValue() == 2 ? 'primary' : 'secondary'"
                        [style.border-radius]="0"
                        (click)="setTab(2)"
                >
                    <i class="pi pi-microchip-ai"></i>
                    Ai Chat
                </p-button>
                <p-button
                        [dt]="compactButton"
                        [style.writing-mode]="'sideways-lr'"
                        [style.text-orientation]="'mixed'"
                        size="small"
                        text
                        [severity]="tabValue() == 3 ? 'primary' : 'secondary'"
                        [style.border-radius]="0"
                        (click)="setTab(3)"
                >
                    <i class="pi pi-code"></i>
                    Console
                </p-button>
                <p-button
                        [dt]="compactButton"
                        [style.writing-mode]="'sideways-lr'"
                        [style.text-orientation]="'mixed'"
                        size="small"
                        text
                        [severity]="tabValue() == 4 ? 'primary' : 'secondary'"
                        [style.border-radius]="0"
                        (click)="setTab(4)"
                >
                    <i class="pi pi-tags"></i>
                    Predicates
                </p-button>
                <p-button
                        [dt]="compactButton"
                        [style.writing-mode]="'sideways-lr'"
                        [style.text-orientation]="'mixed'"
                        size="small"
                        text
                        [severity]="tabValue() == 5 ? 'primary' : 'secondary'"
                        [style.border-radius]="0"
                        (click)="setTab(5)"
                >
                    <i class="pi pi-wrench"></i>
                    Operations
                </p-button>
            </div>
        </div>
    </p-tabs>
</div>
