<div style="width: fit-content">
    <app-composition-statement [_node]="asCompositionStatementNode(statement)" *ngIf="statement.statement.type === 'COMPOSITION'"/>
    <app-strong-weak-statement [_node]="asSkipStatementNode(statement)" *ngIf="statement.statement.type === 'SKIP'"/>
    <app-repetition-statement [_node]="asRepetitionStatementNode(statement)" *ngIf="statement.statement.type === 'REPETITION'"/>
    <app-selection-statement [_node]="asSelectionStatementNode(statement)" *ngIf="statement.statement.type === 'SELECTION'"/>
    <app-simple-statement [_node]="asSimpleStatementNode(statement)" *ngIf="statement.statement.type === 'STATEMENT'"/>
    <app-root-statement [_node]="asRootStatementNode(statement)" *ngIf="statement.statement.type === 'ROOT'" />
    <ng-content />
</div>