<div style="width: fit-content">
  @if (statement.statement.type === 'COMPOSITION') {
    <app-composition-statement [_node]="asCompositionStatementNode(statement)"/>
  }
  @if (statement.statement.type === 'SKIP') {
    <app-strong-weak-statement [_node]="asSkipStatementNode(statement)"/>
  }
  @if (statement.statement.type === 'REPETITION') {
    <app-repetition-statement [_node]="asRepetitionStatementNode(statement)"/>
  }
  @if (statement.statement.type === 'SELECTION') {
    <app-selection-statement [_node]="asSelectionStatementNode(statement)"/>
  }
  @if (statement.statement.type === 'STATEMENT') {
    <app-simple-statement [_node]="asSimpleStatementNode(statement)"/>
  }
  @if (statement.statement.type === 'ROOT') {
    <app-root-statement [_node]="asRootStatementNode(statement)" />
  }
  <ng-content />
</div>