<refinement-base [refinement]="this" >
    <condition-editor [condition]="weakPreCondition" ></condition-editor>

    <refinement-widget *ngIf="!statement"
                       text="Statement"
                       icon="add"
                       (click)="chooseRefinement()">
    </refinement-widget>
    <refinement-link *ngIf="statementRef && statement" 
                     [linkedRefinement]="statementRef"
                     [onSubRefinementDragMove]="statement.onDragMoveEmitter"
                     [onSubRefinementDragEnd]="statement.onDragEndEmitter"
                     [onOriginRefinementDragMove]="onDragMoveEmitter"
                     [onOriginRefinementDragEnd]="onDragEndEmitter"
                     [scrollNotifier]="statement.getRedrawNotifier()"
                     [style.margin-top]="'auto'">
    </refinement-link>

    <condition-editor [condition]="strongPostCondition"></condition-editor>
</refinement-base>

<div style="height: 30px; width: 100%"></div>
<ng-template #subComponentSpawn></ng-template>