@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

h1 {
  font-family:
    "Inter Tight",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.conditionTileWidth {
  width: 270px;
}

app-statement-base,
app-seq-refinement,
app-unit-refinement,
app-init-refinement,
app-skip-refinement {
  display: block;
  width: fit-content;
}

.material-icons {
  font-family: "Material Icons" !important;
}

:root {
  --grey-webcorc: #989696;
  --grey-background-light-webcorc: #dadada;
}
