<app-statement-base [refinement]="this">
    <div style="position: relative; height: 100%; width: 230px;">
        <app-condition-editor *ngIf="!isRoot()" 
                      [condition]="condition"
                      [editable]="true">
        </app-condition-editor>
    </div>
    
   <div *ngIf="isRoot()" class="rootEnabledDiv">
        <app-refinement-widget  *ngIf="!statement"
                            text="Statement"
                            icon="add"
                            (click)="chooseRefinement()">
        </app-refinement-widget>
        <p *ngIf="statement" [style.width]="'100px'" [style.textAlign]="'center'"> Statement </p>
        <app-refinement-link *ngIf="statementElementRef && statement"
                          [linkedRefinement]="statementElementRef"
                          [onSubRefinementDragMove]="statement.onDragMoveEmitter"
                          [onSubRefinementDragEnd]="statement.onDragEndEmitter"
                          [onOriginRefinementDragMove]="onDragMoveEmitter"
                          [onOriginRefinementDragEnd]="onDragEndEmitter"
                          [scrollNotifier]="statement.getRedrawNotifier()"
                          [style.margin-top]="'auto'"></app-refinement-link>
    </div>
</app-statement-base>
<div style="height: 30px; width: 100%;"></div>
<ng-template #subComponentSpawn></ng-template>