.knot {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    cursor: default;

    /*resize: both;*/
    /*overflow: auto;*/

    z-index: 100;
}

.knot-table{
    margin-bottom: 0px;

    resize: inherit;
}

.knot-container {
    margin: 0px;
    display: block;
    resize: inherit;
}

.knot-header {
    /*TODO: color of the knot heading may be not the global color*/
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(170, 28, 53, 0.92);/*var(--headings);*/
    border-bottom: 1px solid #e3e6f0;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;

    resize: inherit;

    cursor: move;
}

.knot-header-proven-false{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(170, 28, 53, 0.92);
    border-bottom: 1px solid #e3e6f0;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;

    resize: inherit;

    cursor: move;
}

.knot-header-proven{
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(102, 144, 73);
    border-bottom: 1px solid #e3e6f0;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;

    resize: inherit;

    cursor: move;
}

.knot-bin-icon:hover {
    color: #ffffff;
}
.knot-minus-icon:hover {
    color: #ffffff;
}
.knot-plus-icon:hover {
    color: #ffffff;
}

.knot-bin-icon {
    color: rgba(255, 255, 255, 0.5);

    position: absolute;
    padding: 10px;
    right: 0px;
    top: 5px;

    cursor: pointer;
}

.knot-plus-icon {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    padding: 10px;
    left: 5px;
    top: 5px;
    cursor: pointer;
}

.knot-minus-icon {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    padding: 10px;
    left: 35px;
    top: 5px;
    cursor: pointer;
}

.knot-pen-icon{
    color: rgba(0, 0, 0, 0.1);
    font-size: 15px;
    position: absolute;
    padding: 10px;
    right: 0px;
    top: 0px;

}

th.knot-element-header {
    /*width: 33%;*/
    color: #68696f;
    font-weight: bold;
    text-align: center;
}

td.knot-element-body {
    /*width: 33%;*/
    height: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.knot-element {
    margin: 0px;
    padding: 0px;

    resize: inherit;
}

.knot-element-content {
    padding: 10px;
    margin: 0px;
}

.corc-knot-input{
    border: none;
    text-align: center;
    color: #858796;
}
.corc-knot-input::placeholder {
    opacity: 0.5;
}

.cheatitem-corc{
    height: 30px;
}

.jtk-endpoint{
    cursor: crosshair;
    padding: 15px;
}