micronaut:
  application.name: webcorc-backend
  object-storage:
    aws:
      default:
        bucket: webcorc-projectfiles
  router:
    static-resources:
      swagger:
        paths: 'classpath:META-INF/swagger'
        mapping: '/swagger/**'
      swagger-ui:
        paths: 'classpath:META-INF/swagger/views/swagger-ui'
        mapping: '/swagger-ui/**'
  server:
    multipart:
      enabled: true
      max-file-size: 1000000

    cors:
      enabled: true
      localhost-pass-through: true
      configurations:
        frontend:
          - '"${FRONTEND_URL:webcorc.informatik.kit.edu}"'

  http.client.max-content-length: 1000000

mongodb:
  uri: '${MONGODB_URI}'

aws:
  accessKeyId: '${RUSTFS_ACCESS_KEY:root}'
  secretKey: '${RUSTFS_SECRET_KEY:changeme}'
  region: 'eu-west-1'
  s3:
    enabled: true
    path-style-access-enabled: true
  services.s3.endpoint-override: "${RUSTFS_ADDRESS:`http://localhost:9000`}"

openai.accessToken: '${OPENAI_ACCESS_TOKEN:changeme}'

development: '${DEVELOPMENT:false}'
