<app-statement-base icon="pi pi-sync" [_node]="_node" [refinement]="this">
  <div class="relative flex items-center h-full w-56">
    <app-condition-editor
      placeholder="Invariant"
      [condition]="_node.invariant"
      (textChanged)="onEditableContentChanged()"
    ></app-condition-editor>
  </div>
  <div class="relative flex items-center h-full w-56">
    <app-condition-editor
      placeholder="Guard"
      [condition]="_node.guard"
      (textChanged)="onEditableContentChanged()"
    ></app-condition-editor>
  </div>
  <div class="relative flex items-center h-full w-56">
    <app-condition-editor
      placeholder="Variant"
      [condition]="_node.variant"
      (textChanged)="onEditableContentChanged()"
    ></app-condition-editor>
  </div>
  <div class="w-fit">
    @if (!_node.loopStatementNode) {
      <app-refinement-widget
        text="Loop Statement"
        icon="add"
        (select)="chooseRefinement($event)"
        >
      </app-refinement-widget>
    }
  </div>
</app-statement-base>
