<app-statement-base [_node]="_node" [refinement]="this">
  <div style="position: relative; height: 100%; width: 230px">
    <app-condition-editor
      [(condition)]="_node.invariant"
    ></app-condition-editor>
  </div>
  <div style="position: relative; height: 100%; width: 230px">
    <app-condition-editor
      [(condition)]="_node.guard"
    ></app-condition-editor>
  </div>
  <div style="position: relative; height: 100%; width: 230px">
    <app-condition-editor
      [(condition)]="_node.variant"
    ></app-condition-editor>
  </div>
  <div style="width: fit-content">
    <app-refinement-widget
      *ngIf="!_node.loopStatementNode"
      text="Loop Statement"
      icon="add"
      (click)="chooseRefinement()"
    >
    </app-refinement-widget>
  </div>
</app-statement-base>
