<app-statement-base icon="pi pi-sync" [_node]="_node" [refinement]="this">
  <div style="position: relative; display: flex; align-items: center; height: 100%; width: 230px">
    <app-condition-editor
      placeholder="Invariant"
      [condition]="invariantSignal()"
      (conditionChange)="onInvariantChange($event)"
    ></app-condition-editor>
  </div>
  <div style="position: relative; display: flex; align-items: center; height: 100%; width: 230px">
    <app-condition-editor
      placeholder="Guard"
      [condition]="guardSignal()"
      (conditionChange)="onGuardChange($event)"
    ></app-condition-editor>
  </div>
  <div style="position: relative; display: flex; align-items: center; height: 100%; width: 230px">
    <app-condition-editor
      placeholder="Variant"
      [condition]="variantSignal()"
      (conditionChange)="onVariantChange($event)"
    ></app-condition-editor>
  </div>
  <div style="width: fit-content">
    @if (!_node.loopStatementNode) {
      <app-refinement-widget
        text="Loop Statement"
        icon="add"
        (select)="chooseRefinement($event)"
        >
      </app-refinement-widget>
    }
  </div>
</app-statement-base>
