<app-statement-base [_node]="_node" [refinement]="this">
    <div style="position: relative; height: 100%; width: 230px;">
        <app-condition-editor [condition]="weakPreCondition" ></app-condition-editor>
    </div>
    

    <app-refinement-widget *ngIf="!statement"
                       text="Statement"
                       icon="add"
                       (click)="chooseRefinement()">
    </app-refinement-widget>
    <app-refinement-link *ngIf="statementRef && statement" 
                     [linkedRefinement]="statementRef"
                     [onSubRefinementDragMove]="statement.onDragMoveEmitter"
                     [onSubRefinementDragEnd]="statement.onDragEndEmitter"
                     [onOriginRefinementDragMove]="onDragMoveEmitter"
                     [onOriginRefinementDragEnd]="onDragEndEmitter"
                     [scrollNotifier]="statement.getRedrawNotifier()"
                     [style.margin-top]="'auto'">
    </app-refinement-link>
    <div style="position: relative; height: 100%; width: 230px;">
        <app-condition-editor [condition]="strongPostCondition"></app-condition-editor>
    </div>
</app-statement-base>

<div style="height: 30px; width: 100%"></div>
<ng-template #subComponentSpawn></ng-template>