<ul>
  @for (conflict of conflicts; track i; let i = $index) {
    <li class="flex flex-row gap-8">
      <div class="flex flex-col">
        <app-condition-editor [condition]="conflict.version1">
        </app-condition-editor>
        <p-button
          size="large"
          fluid
          label="use this condition"
          (mouseenter)="
            setActiveCondition(conflict.version1.getValue(), conflict.version2.getValue())
          "
          (mouseleave)="removeActiveCondition()"
          (click)="_selectCondition(true, conflicts[i])"
        ></p-button>
      </div>
      <div class="flex w-fit flex-col">
        <app-condition-editor [condition]="conflict.version2">
        </app-condition-editor>
        <p-button
          size="large"
          fluid
          label="use this condition"
          (mouseenter)="
            setActiveCondition(conflict.version2.getValue(), conflict.version1.getValue())
          "
          (mouseleave)="removeActiveCondition()"
          (click)="_selectCondition(false, conflicts[i])"
        ></p-button>
      </div>
    </li>
  }
</ul>
