<form [formGroup]="conditions">
    <ng-container formArrayName="items" *ngFor="let variableForm of items.controls; let i = index">
        <ng-container [formGroupName]="i">
          <mat-form-field [style.width]="'100%'" (keydown.delete)="onDelete($event, i)">
            <mat-label>Condition</mat-label>
            <input matInput formControlName="name">
            <button matSuffix mat-icon-button aria-label="Remove" (click)="removeCondition(i)" (keydown.enter)="$event.preventDefault()" #tooltip="matTooltip" matTooltip="Remove Condition" matTooltipPosition="left">
              <mat-icon>remove</mat-icon>
            </button>
          </mat-form-field>
      </ng-container>
    </ng-container>
    <mat-form-field [style.width]="'100%'" (keydown.enter)="onEnter($event)">
      <mat-label>Add Condition</mat-label>
      <input matInput formControlName="newCondition" >
        <button matSuffix mat-icon-button aria-label="Add" (click)="addCondition()" #tooltip="matTooltip" matTooltip="Add Condition" matTooltipPosition="left">
          <mat-icon>add</mat-icon>
        </button>
        @if (dirtyState) {
          <mat-hint [style.color]="'rgb(186, 26, 26)'"> Press enter or click the plus to add the condition  </mat-hint>
        }
    </mat-form-field>
  </form>