<form [formGroup]="conditions">
  @for (variableForm of items.controls; track variableForm; let i = $index) {
    <ng-container formArrayName="items">
      <ng-container [formGroupName]="i">
        <mat-form-field class="w-full" (keydown.delete)="onDelete($event, i)">
          <mat-label>Condition</mat-label>
          <input matInput formControlName="name">
          <button matSuffix mat-icon-button aria-label="Ask ai" (click)="askAi(i)" (keydown.enter)="$event.preventDefault()" matTooltip="Explain with Ai" matTooltipPosition="before"><mat-icon>psychology_alt</mat-icon></button>
          <button matSuffix mat-icon-button aria-label="Remove" (click)="removeCondition(i)" (keydown.enter)="$event.preventDefault()" matTooltip="Remove Condition" matTooltipPosition="left">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>
    </ng-container>
  }
  <mat-form-field class="w-full" (keydown.enter)="onEnter($event)">
    <mat-label>Add Condition</mat-label>
    <input matInput formControlName="newCondition" >
    <button matSuffix mat-icon-button aria-label="Add" (click)="addCondition()" #tooltip="matTooltip" matTooltip="Add Condition" matTooltipPosition="left">
      <mat-icon>add</mat-icon>
    </button>
    @if (dirtyState) {
      <mat-hint class="text-red-700"> Press enter or click the plus to add the condition  </mat-hint>
    }
  </mat-form-field>
</form>
