<div
  style="
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
  "
>
  <div
    style="
      display: flex;
      flex: auto;
      justify-items: stretch;
      align-items: stretch;
    "
  >
    <div id="editorContainer" #editorContainer>
      <!-- Render container for the trees root -->
      <vflow
        view="auto"
        [nodes]="nodes"
        [edges]="edges"
        [connection]="{ curve: 'smooth-step' }"
        (onNodesChange.position)="handlePositionChange($event)"
        [background]="{ backgroundColor: 'var(--p-background)', type: 'dots' }"
        [snapGrid]="[25, 25]"
      >
        <ng-template let-ctx nodeHtml style="width: fit-content">
          <app-statement-delegator [statement]="ctx.node.data()">
          </app-statement-delegator>
        </ng-template>
        @if (globalSettingsService.showMiniMap) {
          <mini-map [position]="'top-right'" />
        }
      </vflow>
    </div>
    <app-editor-sidemenu
      #sidemenu
      style="height: auto; position: relative; justify-self: right"
    ></app-editor-sidemenu>
  </div>
  <div class="bottomContainer">
    <app-editor-bottommenu />
  </div>
</div>
