<div class="sideMenu">
  <mat-accordion multi="">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Formal parameters
          <mat-icon style="color: #ababab; margin-left: 5px"
            matTooltip="Formal Parameters can be used to abbreviate multiple program specifications">
            info
          </mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <formal-parameters [treeService]="treeService"></formal-parameters>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Palette
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table>
        <tr *ngFor="let predefinedSymbol of preDefinedSymbols()">
          <td>{{predefinedSymbol.symbol}}</td>
          <td>{{predefinedSymbol.description}}</td>
        </tr>
      </table>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Macros
          <mat-icon style="color: #ababab; margin-left: 5px"
                    matTooltip="Macros are shortcuts for expressions">
            info
          </mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-macros></app-macros>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Variables
          <mat-icon style="color: #ababab; margin-left: 5px"
                    matTooltip="Variables can be qubits (size=1), of any size or symbolic. The position of variables is important and must be taken into account when specifying conditions.">
            info
          </mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-variables></app-variables>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="!rootNode"
     style="display: flex; align-items: center; vertical-align: center; justify-content: center">
  <add-refinement-widget (onRefinementSelected)="addRootRefinement($event)"
                         text="Add root refinement"></add-refinement-widget>

  <refinement-widget text="Load example program" icon="class" [matMenuTriggerFor]="menu"></refinement-widget>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="loadExample('cointoss')">Coin toss</button>
    <button mat-menu-item (click)="loadExample('tosstillzero')">Toss till 0</button>
    <button mat-menu-item (click)="loadExample('teleportation')">Teleportation</button>
    <button mat-menu-item (click)="loadExample('ECNOTalgorithm')">E-CNOT Algorithm</button>
  </mat-menu>
</div>

<div *ngIf="rootNode" id="editorContainer" (scroll)="onEditorContainerScrolled()">
  <!-- Control elements for the scrollWidth and scrollHeight of the editor container -->
  <div id="editorWidthController"></div>
  <div id="editorHeightController"></div>

  <!-- Render container for the trees root -->
  <ng-container *ngComponentOutlet="rootNode"></ng-container>

  <!-- Spawn for examples -->
  <ng-template #examplesSpawn></ng-template>

  <!-- Anchor element to draw lines between refinement boxes.
   Since dragging transforms refinement boxes, the line DOMs must be placed outside the refinement boxes. -->
  <div id="lineSpawn"></div>
</div>
