.toggleButton {
  position: sticky;
  top: 0;
}

.bottomContainer {
  display: block;
  border: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.tabContent {
  display: flex;
  height: 15em;
}

.resetButton {
  position: fixed;
  top: 80px;
  right: 50px;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.75);
  z-index: 1000;
}

#editorContainer {
  height: 100%;
  flex: auto;
  overflow: scroll;
}

#controlsBar {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid black;
}

td {
  padding: 5px 5px
}
