name: Check if backend compiles

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build backend
      working-directory: ./backend
      run: docker build . --file Dockerfile --tag webcorc-backend:$(date +%s)
