name: Check if frontend compiles

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build frontend
      working-directory: ./frontend
      run: docker build . --file Dockerfile --tag webcorc-frontend:$(date +%s)
