name: Deploy to Dev Server

on:
  workflow_run:
    workflows: ["compile-backend"] 
    branches: [dev]
    types: 
      - completed
  push:
    branches:
      - dev 

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USER }}
          key: ${{ secrets.DEV_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. Go to the project folder
            cd /opt/WebCorC
            chmod +x deploy.sh
            sudo ./deploy.sh
