name: Deploy to Dev Server

on:
  workflow_run:
    workflows: ["compile-backend"] 
    branches: [dev]
    types: 
      - completed
  push:
    branches:
      - dev 

jobs:
  be-compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build backend
      working-directory: ./backend
      run: docker build . --file Dockerfile --tag webcorc-backend:$(date +%s)
  fe-compile:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build frontend
      working-directory: ./frontend
      run: docker build . --file Dockerfile --tag webcorc-frontend:$(date +%s)
  deploy:
    needs: ["be-compile", "fe-compile"]
    runs-on: ubuntu-latest

    steps:
      - name: Execute remote SSH commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.DEV_USER }}
          key: ${{ secrets.DEV_PRIVATE_KEY }}
          port: 22
          script: |
            # 1. Go to the project folder
            cd /opt/WebCorC
            chmod +x deploy.sh
            sudo ./deploy.sh
